.minecraft/usernamecache.json
.minecraft/minetweaker.log
.minecraft/servers.dat
.minecraft/saves/
.minecraft/journeymap/
.minecraft/logs/
.minecraft/crash-reports/
.minecraft/local/
.minecraft/resourcepacks/
.minecraft/screenshots/
.minecraft/texturepacks/
.minecraft/server-resource-packs/
*.log
.minecraft/minetweaker.log
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/saves/NEI/remote/127.0.0.1~25565/world/NEI.dat
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/betterfps.txt
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/4/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/4/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/3/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/2/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/1/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/1/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/1/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/0/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-3,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-3,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,-1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,0.png
.minecraft/journeymap/config/5.1/journeymap.minimap.config
.minecraft/journeymap/config/5.1/journeymap.fullmap.config
.minecraft/betterfps.txt
.minecraft/journeymap/colorpalette.json
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/0,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/0,0.png
.minecraft/journeymap/journeymap.log
.minecraft/logs/fml-client-1.log
.minecraft/logs/fml-client-2.log
.minecraft/logs/fml-client-3.log
.minecraft/logs/fml-client-latest.log
.minecraft/logs/fml-junk-earlystartup.log
.minecraft/logs/latest.log
.minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
instance.cfg
.minecraft/backups/Flat/2019/6/11/Backup-Flat-2019-6-11--15-48.zip
.minecraft/backups/Flat/backupstore.txt
.minecraft/backups/FutureCraft Test/2019/4/20/Backup-FutureCraft Test-2019-4-20--8-18.zip
.minecraft/backups/FutureCraft Test/2019/6/11/Backup-FutureCraft Test-2019-6-11--15-9.zip
.minecraft/backups/FutureCraft Test/backupstore.txt
.minecraft/betterfps.txt
.minecraft/config/AppliedEnergistics2/extracells.cfg
.minecraft/config/AppliedEnergistics2/Facades.cfg
.minecraft/config/IC2.ini
.minecraft/config/iChunUtil.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/machinemuse/powersuits.cfg
.minecraft/config/splash.properties
.minecraft/journeymap/colorpalette.json
.minecraft/journeymap/config/5.1/journeymap.fullmap.config
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-3,-3.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/0,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-3,-2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-3,-3.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/0,0.png
.minecraft/journeymap/journeymap.log
.minecraft/logs/fml-client-1.log
.minecraft/logs/fml-client-2.log
.minecraft/logs/fml-client-3.log
.minecraft/logs/fml-client-latest.log
.minecraft/logs/fml-junk-earlystartup.log
.minecraft/logs/latest.log
.minecraft/minetweaker.log
.minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
instance.cfg
natives/avutil-ttv-51.dll
natives/jinput-dx8.dll
natives/jinput-dx8_64.dll
natives/jinput-raw.dll
natives/jinput-raw_64.dll
natives/jinput-wintab.dll
natives/libmfxsw64.dll
natives/libmp3lame-ttv.dll
natives/lwjgl.dll
natives/lwjgl64.dll
natives/META-INF/MANIFEST.MF
natives/OpenAL32.dll
natives/OpenAL64.dll
natives/swresample-ttv-0.dll
natives/twitchsdk.dll
instance.cfg
.minecraft/logs/latest.log
.minecraft/logs/fml-client-latest.log
.minecraft/journeymap/journeymap.log
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM6/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
