
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/0/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/0/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-2,2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-2,2.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/waypoints/Death 1_56_26 PM 4_14_19_-214,81,525.json
.minecraft/journeymap/data/mp/FutureCraft~2~Server/waypoints/Death 1_57_53 PM 4_14_19_-219,81,517.json
.minecraft/saves/NEI/remote/127.0.0.1~25565/world/NEI.dat
