.minecraft/usernamecache.json
.minecraft/minetweaker.log
.minecraft/servers.dat
.minecraft/saves/
.minecraft/journeymap/
.minecraft/logs/
.minecraft/crash-reports/
.minecraft/local/
.minecraft/resourcepacks/
.minecraft/screenshots/
.minecraft/texturepacks/
.minecraft/server-resource-packs/
*.log
.minecraft/minetweaker.log
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/3/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/4/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/5/-1,0.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/saves/NEI/remote/127.0.0.1~25565/world/NEI.dat
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/night/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,1.png
.minecraft/journeymap/data/mp/FutureCraft~2~Server/DIM0/day/-1,0.png
